@model PlanFood.Mvc.Models.ViewModel.RecipePlanViewModel

@{
    ViewData["Title"] = "AddRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_LayoutLogInHeader")

<section class="dashboard-section">
    <div class="row dashboard-nowrap">

        @Html.Partial("_LayoutFlexColumnMenu")

        <div class="m-4 p-3 width-medium">
            <div class="dashboard-content border-dashed p-3 m-4 view-height">
                <form asp-controller="Plan" asp-action="AddRecipe" method="post">
                    <div class="row border-bottom border-3 p-1 m-1">
                        <div class="col noPadding">
                            <h3 class="color-header text-uppercase">DODAJ PRZEPIS DO PLANU</h3>
                        </div>
                        <div class="col d-flex justify-content-end mb-2 noPadding">
                            <button type="submit" class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4">Zapisz</button>
                        </div>
                    </div>

                    <div class="schedules-content">
                        <div class="form-group row">
                            <label for="choosePlan" class="col-sm-2 label-size col-form-label">
                                Wybierz plan
                            </label>
                            <div class="col-sm-3">
                                <select asp-for="PlanId" class="form-control" id="choosePlan">
                                    @foreach (var plan in Model.Plans)
                                    {
                                        <option value="@plan.Id">@plan.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 label-size col-form-label">
                                Nazwa posiłku
                            </label>
                            <div class="col-sm-10">
                                <input asp-for="MealName" type="text" class="form-control" value="" id="name" placeholder="Nazwa posiłku">
                                <span asp-validation-for="MealName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="number" class="col-sm-2 label-size col-form-label">
                                Numer posiłku
                            </label>
                            <div class="col-sm-2">
                                <input asp-for="DisplayOrder" type="number" class="form-control" value="" id="number" placeholder="Numer posiłki">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="recipie" class="col-sm-2 label-size col-form-label">
                                Przepis
                            </label>
                            <div class="col-sm-4">
                                <select asp-for="RecipeId" class="form-control" id="recipie">
                                    @foreach (var recipe in Model.Recipes)
                                    {
                                        <option value="@recipe.Id">@recipe.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="day" class="col-sm-2 label-size col-form-label">
                                Dzień
                            </label>
                            <div class="col-sm-2">
                                <select asp-for="DayNameId" class="form-control" id="day">
                                    @foreach (var dayName in Model.DayNames)
                                    {
                                        <option value="@dayName.Id">@dayName.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>